/* @tailwind base;
  @tailwind components;
  @tailwind utilities; */

.cell_description {
  max-width: 400px;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}

.cell_name {
  max-width: 250px;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}
